@import "./../../scss/variables";
@import "./../../scss/classes";
$yellow: map-get(
  $map: $map-yellow-colors,
  $key: 400,
);
$gray: map-get(
  $map: $map-gray-colors,
  $key: 300,
);
$blue: map-get(
  $map: $map-blue-colors,
  $key: 400,
);
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}

.profile_image_container {
  padding: 15px;
  position: relative;

  & .background_square {
    animation: rotate 5s linear 2s infinite alternate-reverse;
    background-color: $yellow;
    border-radius: 72px;
    display: block;
    height: 250px;
    left: 50%;
    opacity: 0.5;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;

    &::before {
      border-radius: 72px;
      border: dashed 2px $yellow;
      content: "";
      display: block;
      height: calc(100% + 24px);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 24px);
    }
  }

  & .image_container {
    background-color: $gray;
    border-radius: 50px;
    border: dashed 2px $yellow;
    height: 275px;
    overflow: hidden;
    position: relative;
    transform: rotate(45deg);
    width: 275px;
    & figure {
      border-radius: 50px;
      border: solid 16px $gray;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }
    & img {
      left: 50%;
      min-height: 315px;
      min-width: 315px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  // & .image_container {
}
