@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
}

.bg-gray-400 {
  background-color: #242a2b;
}

.text-gray-400 {
  color: #242a2b;
}

.hover-gray-fill-400:hover {
  background-color: #242a2b;
  color: #fff;
  transition: 0.3s;
}

.hover-gray-outline-400:hover {
  background-color: transparent !important;
  color: #242a2b !important;
  transition: 0.3s;
}

.bg-yellow-400 {
  background-color: #fdcb6e;
}

.text-yellow-400 {
  color: #fdcb6e;
}

.hover-yellow-fill-400:hover {
  background-color: #fdcb6e;
  color: #fff;
  transition: 0.3s;
}

.hover-yellow-outline-400:hover {
  background-color: transparent !important;
  color: #fdcb6e !important;
  transition: 0.3s;
}

.bg-blue-400 {
  background-color: #0984e3;
}

.text-blue-400 {
  color: #0984e3;
}

.hover-blue-fill-400:hover {
  background-color: #0984e3;
  color: #fff;
  transition: 0.3s;
}

.hover-blue-outline-400:hover {
  background-color: transparent !important;
  color: #0984e3 !important;
  transition: 0.3s;
}

.bg-gray-300 {
  background-color: #2d3436;
}

.text-gray-300 {
  color: #2d3436;
}

.hover-gray-fill-300:hover {
  background-color: #2d3436;
  color: #fff;
  transition: 0.3s;
}

.hover-gray-outline-300:hover {
  background-color: transparent !important;
  color: #2d3436 !important;
  transition: 0.3s;
}

.bg-yellow-300 {
  background-color: #ffeaa7;
}

.text-yellow-300 {
  color: #ffeaa7;
}

.hover-yellow-fill-300:hover {
  background-color: #ffeaa7;
  color: #fff;
  transition: 0.3s;
}

.hover-yellow-outline-300:hover {
  background-color: transparent !important;
  color: #ffeaa7 !important;
  transition: 0.3s;
}

.bg-blue-300 {
  background-color: #74b9ff;
}

.text-blue-300 {
  color: #74b9ff;
}

.hover-blue-fill-300:hover {
  background-color: #74b9ff;
  color: #fff;
  transition: 0.3s;
}

.hover-blue-outline-300:hover {
  background-color: transparent !important;
  color: #74b9ff !important;
  transition: 0.3s;
}

.bg-gray-200 {
  background-color: #636e72;
}

.text-gray-200 {
  color: #636e72;
}

.hover-gray-fill-200:hover {
  background-color: #636e72;
  color: #fff;
  transition: 0.3s;
}

.hover-gray-outline-200:hover {
  background-color: transparent !important;
  color: #636e72 !important;
  transition: 0.3s;
}

.bg-blue-200 {
  background-color: #a9d0ff;
}

.text-blue-200 {
  color: #a9d0ff;
}

.hover-blue-fill-200:hover {
  background-color: #a9d0ff;
  color: #fff;
  transition: 0.3s;
}

.hover-blue-outline-200:hover {
  background-color: transparent !important;
  color: #a9d0ff !important;
  transition: 0.3s;
}

.bg-gray-100 {
  background-color: #b2bec3;
}

.text-gray-100 {
  color: #b2bec3;
}

.hover-gray-fill-100:hover {
  background-color: #b2bec3;
  color: #fff;
  transition: 0.3s;
}

.hover-gray-outline-100:hover {
  background-color: transparent !important;
  color: #b2bec3 !important;
  transition: 0.3s;
}

.bg-blue-100 {
  background-color: #d6e7ff;
}

.text-blue-100 {
  color: #d6e7ff;
}

.hover-blue-fill-100:hover {
  background-color: #d6e7ff;
  color: #fff;
  transition: 0.3s;
}

.hover-blue-outline-100:hover {
  background-color: transparent !important;
  color: #d6e7ff !important;
  transition: 0.3s;
}

.display-lg, .display-sm {
  font-weight: 400;
}
.display-lg {
  font-size: 57px;
}
.display-md {
  font-size: 45px;
  font-weight: 700;
}
.display-sm {
  font-size: 36px;
}

.headline-lg, .headline-md, .headline-sm {
  font-weight: 400;
}
.headline-lg {
  font-size: 32px;
}
.headline-md {
  font-size: 28px;
}
.headline-sm {
  font-size: 24px;
}

.title-md, .title-sm {
  font-weight: 500;
}
.title-lg {
  font-size: 22px;
  font-weight: 400;
}
.title-md {
  font-size: 16px;
}
.title-sm {
  font-size: 14px;
}

.body-lg, .body-md, .body-sm {
  font-weight: 400;
}
.body-lg {
  font-size: 16px;
}
.body-md {
  font-size: 14px;
}
.body-sm {
  font-size: 12px;
}

.cursor-pointer {
  cursor: pointer;
}

.all-container {
  min-height: 200vh;
}

.button {
  border: solid 1px;
  text-align: center;
  transition: 0.3s;
}
.button:active {
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
