$font-primary: "Montserrat", sans-serif;
$font-secundary: "Roboto", sans-serif;
$label-colors: 400, 300, 200, 100;

$map-gray-colors: (
  400: #242a2b,
  300: #2d3436,
  200: #636e72,
  100: #b2bec3,
);

$map-yellow-colors: (
  400: #fdcb6e,
  300: #ffeaa7,
);

$map-blue-colors: (
  400: #0984e3,
  300: #74b9ff,
  200: #a9d0ff,
  100: #d6e7ff,
);
